<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AddVisitors</servlet-name>
        <servlet-class>OfficeAdministrator.AddVisitors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCouriers</servlet-name>
        <servlet-class>OfficeAdministrator.AddCouriers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMaterials</servlet-name>
        <servlet-class>OfficeAdministrator.AddMaterials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>OfficeAdministrator.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPurchase</servlet-name>
        <servlet-class>OfficeAdministrator.AddPurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSales</servlet-name>
        <servlet-class>OfficeAdministrator.AddSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPayment</servlet-name>
        <servlet-class>OfficeAdministrator.AddPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEnquiry</servlet-name>
        <servlet-class>OfficeAdministrator.AddEnquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>OfficeAdministrator.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddResponse</servlet-name>
        <servlet-class>OfficeAdministrator.AddResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>OfficeAdministrator.AddTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>OfficeAdministrator.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCall</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteCall</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourier</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteCourier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEnquiry</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteEnquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePayment</servlet-name>
        <servlet-class>OfficeAdministrator.DeletePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePurchase</servlet-name>
        <servlet-class>OfficeAdministrator.DeletePurchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSales</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteSales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVisitor</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteVisitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMaterial</servlet-name>
        <servlet-class>OfficeAdministrator.DeleteMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>OfficeAdministrator.SendEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCalls</servlet-name>
        <url-pattern>/AddCalls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVisitors</servlet-name>
        <url-pattern>/AddVisitors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCouriers</servlet-name>
        <url-pattern>/AddCouriers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMaterials</servlet-name>
        <url-pattern>/AddMaterials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPurchase</servlet-name>
        <url-pattern>/AddPurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSales</servlet-name>
        <url-pattern>/AddSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPayment</servlet-name>
        <url-pattern>/AddPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEnquiry</servlet-name>
        <url-pattern>/AddEnquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddResponse</servlet-name>
        <url-pattern>/AddResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCall</servlet-name>
        <url-pattern>/DeleteCall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourier</servlet-name>
        <url-pattern>/DeleteCourier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEnquiry</servlet-name>
        <url-pattern>/DeleteEnquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePayment</servlet-name>
        <url-pattern>/DeletePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePurchase</servlet-name>
        <url-pattern>/DeletePurchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSales</servlet-name>
        <url-pattern>/DeleteSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVisitor</servlet-name>
        <url-pattern>/DeleteVisitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/DeleteTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMaterial</servlet-name>
        <url-pattern>/DeleteMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>OfficeAdministrator.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCalls</servlet-name>
        <servlet-class>OfficeAdministrator.AddCalls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
</web-app>
